/* body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--text);
  font-size: large;
}

:focus-visible {
  outline: none;
  box-shadow: var(--ring);
  border-radius: 8px;
}

.app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 10px 16px;
  border-top: 1px solid var(--border);

  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--muted);
}

.app-footer a {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.app-footer a:hover {
  text-decoration: underline;
} */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--text);
  font-size: large;
}

:focus-visible {
  outline: none;
  box-shadow: var(--ring);
  border-radius: 8px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* תן לתוכן לדחוף את הפוטר למטה */
main {
  flex: 1;
}

.app-footer {
  margin-top: auto;
  padding: 10px 16px;
  border-top: 1px solid var(--border);

  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--muted);
}

.app-footer a {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.app-footer a:hover {
  text-decoration: underline;
}
